name: Build APK

on:
  push:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      # 1. 檢查程式碼
      - name: Checkout code
        uses: actions/checkout@v4

      # 2. 執行打包 (注意這裡 A 和 S 是大寫)
      - name: Buildozer Action
        uses: ArtemSerebriennikov/buildozer-action@v1
        with:
          save_cache: true

      # 3. 上傳 APK (使用最新的 v4 版本)
      - name: Upload APK
        uses: actions/upload-artifact@v4
        with:
          name: python-api-node
          path: bin/*.apk
